<div id="EventEntry">
    <div class="row">
        <div class="col-xs-12">
            <h3 id="section-2">Race Registration</h3>
            <h4>Manage WTC Members who are registered for upcoming races</h4>
        </div>
    </div>
    @if (Model.Count == 0)
    {
        <p>There are currently no race entries.</p>
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                <h5>You can select the race or the person for more detailed information.</h5>
                <table id="raceTable" class="table table-condensed tablesorter">
                    <thead>
                        <tr>
                            <th>Name <span class="hidden-xs glyphicon glyphicon-menu-down"></span></th>
                            <th class="hidden-xs hidden-sm">Email <span class="glyphicon glyphicon-menu-down"></span></th>
                            <th>Race <span class="hidden-xs glyphicon glyphicon-menu-down"></span></th>
                            <th class="hidden-xs hidden-sm">Driver <span class="glyphicon glyphicon-menu-down"></span></th>
                            <th class="hidden-xs">Departure Information <span class="glyphicon glyphicon-menu-down"></span></th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var runner in Model)
                        {
                            if (runner.RegisteredRace.Date > System.DateTime.Now)
                            {
                                <tr>
                                    <td>
                                        @{
                                        String name = runner.RegisteredPerson.FirstName + " " + runner.RegisteredPerson.LastName;
                                        @Html.ActionLink(name, "UserProfile", "Home", new { id = @runner.RegisteredPerson.Id }, null);
                                    }
                                </td>
                                <td class="hidden-xs hidden-sm"><a href="emailto:@runner.RegisteredPerson.Email">@runner.RegisteredPerson.Email</a></td>
                                @{
                                    String raceName = @runner.RegisteredRace.RaceName;
                                    <td>@Html.ActionLink(raceName, "RaceProfile", "Home", new { id = @runner.RegisteredRace.RaceId }, null)</td>
                                }
                                <td class="hidden-xs hidden-sm">
                                    @runner.CanDrive @if (runner.CanDrive)
                                    { <span>: </span>@runner.CarCapacity<span> passenger(s)</span>}
                                </td>
                                <td class="hidden-xs">
                                    @if (runner.RegisteredRace.Date.DayOfWeek.ToString() == "Friday")
                                    {
                                        @runner.Departure.ToShortTimeString();
                                    }
                                    else
                                    {
                                        <p>Non-Friday Meet</p>
                                    }
                                </td>
                                <td>@Ajax.ActionLink("Remove", "RemoveEventEntry", new { raceId = @runner.RegisteredRace.RaceId, runnerId = @runner.RegisteredPerson.Id }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "EventEntry", OnBegin = "ensureSubmission" }, new { @class = "btn btn-danger" })</td>
                            </tr>
                                        }
                                    }
                    </tbody>
                </table>
            </div>
        </div>

                                    }


</div>
