@model WisconsinTrackClubWebsite.Models.ViewModels.MyFormsViewModel
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-2 sidebar">
            @Html.Partial("_sideNav", Model.UserProfile)
        </div>
        <div class="col-md-11 col-md-offset-1 col-lg-offset-2 col-lg-9 hidden-xs hidden-sm manager main">
            <div class="row">
                <div class="col-md-12">
                    <h2>My Forms</h2>
                    <p class="profile-text">Stay up to date with your Wisconsin Track Club Forms.</p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr class="hidden-sm hidden-md hidden-lg">
                                @*<th>Completed</th>*@
                                <th>Form Name</th>
                                <th>Description</th>


                            </tr>
                            <tr class="hidden-xs">
                                @*<th>Completed</th>*@
                                <th>Form Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody class="hidden-xs">
                            @{
                                foreach (var form in Model.MyForms)
                                {
                                    <tr>
                                        @*@if (form.IsComplete)
                                        {
                                            <td><p><strong>Yes</strong></p></td>
                                        }
                                        else
                                        {
                                            <td><p><strong>No</strong></p></td>
                                        }*@
                                        <td>
                                            <a href="@form.Url">@form.Name</a>
</td>
                                        <td>
                                            @form.Description
                                        </td>
                                        
                                    </tr>
                                }
                            }
                        </tbody>
                        <tbody class="hidden-sm hidden-md hidden-lg">
                            @{
                                foreach (var form in Model.MyForms)
                                {
                                    <tr>
                                        @*@if (form.IsComplete)
                                        {
                                            <td><p><strong>Yes</strong></p></td>
                                        }
                                        else
                                        {
                                            <td><p><strong>No</strong></p></td>
                                        }*@
                                        <td>
                                            <a href="@form.Url">@form.Name</a>
</td>
                                        <td>
                                            @form.Description
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            
            <a href="~/Assets/WTC-WIN.docx">Form Instructions</a>
            <br />
            <p>Is this information incorrect? Email <a href="emailto:stfranklin@wisc.edu">stfranklin@wisc.edu</a>.</p>
        </div>
        @*<div class="hidden-xs hidden-lg col-sm-1 sidebar">
            @Html.Partial("_SmallSideViewPartial")
        </div>*@
        <div class="hidden-xs hidden-md hidden-lg row">
            <div class="col-sm-11 col-sm-offset-1 manager_sm main">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>My Forms</h2>
                        <p class="profile-text">Stay up to date with your Wisconsin Track Club Forms.</p>   
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    @*<th>Completed</th>*@
                                    <th>Form Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var form in Model.MyForms)
                                    {
                                        <tr>
                                            @*@if (form.IsComplete)
                                            {
                                                <td><p><strong>Yes</strong></p></td>
                                            }
                                            else
                                            {
                                                <td><p><strong>No</strong></p></td>
                                            }*@
                                            <td>
                                                <a href="@form.Url">@form.Name</a>
                                            </td>
                                            <td>
                                                @form.Description
                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                            
                        </table>
                    </div>
                </div>
                
                <a href="~/Assets/How-to-Sign-up-for-WIN.docx">How to Sign Up for WIN and Supplemental Health</a>
                <br />
                <p>Is this information incorrect? Email <a href="emailto:stfranklin@wisc.edu">stfranklin@wisc.edu</a>.</p>
            </div>
            </div>
        <div class="hidden-sm hidden-md hidden-lg row">
            <div class="col-xs-10 col-xs-offset-1 manager_sm main">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>My Forms</h2>
                        <p class="profile-text">Stay up to date with your Wisconsin Track Club Forms.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    @*<th>Completed</th>*@
                                    <th>Form Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            
                            <tbody class="hidden-sm hidden-md hidden-lg">
                                @{
                                    foreach (var form in Model.MyForms)
                                    {
                                        
                                        <tr>
                                            @*@if (form.IsComplete)
                                            {
                                                <td><p><strong>Yes</strong></p></td>
                                            }
                                            else
                                            {
                                                <td><p><strong>No</strong></p></td>
                                            }*@
                                            <td>
                                                <a href="@form.Url">@form.Name</a>
                                            </td>
                                            <td>
                                                @form.Description
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="~/Assets/How-to-Sign-up-for-WIN.docx">How to Sign Up for WIN and Supplemental Health</a>
                <br />
                <p>Is this information incorrect? Email <a href="emailto:stfranklin@wisc.edu">stfranklin@wisc.edu</a>.</p>
            </div>
            </div>
    </div>
</div>
