@model WisconsinTrackClubWebsite.Models.ViewModels.MembersViewModel
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-2 sidebar">
            @Html.Partial("_sideNav", Model.UserProfile)
        </div>
        <div class="col-md-11 col-md-offset-1 col-lg-9 col-lg-offset-2 hidden-xs hidden-sm manager main">
            <h2>Registered Members</h2>
            <h4>Reach out to other WTC members who have made themselves visible</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>
                            Name
                        </td>
                        <th>
                            Year
                        </th>
                        <th>
                            Email
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.people)
                    {

                        if (item.ApplicationUser.Profile.IsVisible == true)
                        {
                    <tr>
                        <td>@{
                            String name = item.FirstName + " " + item.LastName;
                            @Html.ActionLink(name, "UserProfile", "Home", new { id = @item.Id }, null);
                        }</td>

                        <td>@item.YearInSchool</td>

                        <td><a href="emailto:@item.Email">@item.Email</a></td>
                    </tr>
                        }
                        //Add Email in Profile

                    }
                </tbody>

            </table>
        </div>
        @*<div class="hidden-xs hidden-lg col-sm-1 sidebar">
            @Html.Partial("_SmallSideViewPartial")
        </div>*@
        <div class="hidden-xs hidden-md hidden-lg row">
            <div class="col-sm-11 col-sm-offset-1 manager_sm main">
                <h2>Registered Members</h2>
                <h4>Reach out to other WTC members who have made themselves visible</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>
                                Name
                            </td>
                            <th>
                                Year
                            </th>
                            <th>
                                Email
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.people)
                        {

                            if (item.ApplicationUser.Profile.IsVisible == true)
                            {
                        <tr>
                            <td>@item.FirstName @item.LastName</td>

                            <td>@item.YearInSchool</td>

                            <td><a href="emailto:@item.Email">@item.Email</a></td>
                        </tr>
                            }
                            //Add Email in Profile

                        }
                    </tbody>

                </table>
            </div>
        </div>
        <div class="hidden-sm hidden-md hidden-lg row">
            <div class="col-xs-10 col-xs-offset-1 manager_sm main">
                <h2>Registered Members</h2>
                <h4>Reach out to other WTC members who have made themselves visible</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>
                                Name
                            </td>
                            <th>
                                Year
                            </th>
                            <th>
                                Email
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.people)
                        {

                            if (item.ApplicationUser.Profile.IsVisible == true)
                            {
                                <tr>
                                    <td>@item.FirstName @item.LastName</td>

                                    <td>@item.YearInSchool</td>

                                    <td><a href="emailto:@item.Email">@item.Email</a></td>
                                </tr>
                            }
                            //Add Email in Profile

                        }
                    </tbody>

                </table>
            </div>
        </div>

            </div>

        </div>

