@model WisconsinTrackClubWebsite.Models.ViewModels.MyRacesViewModel

@{
    ViewBag.Title = "RaceTracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-2 sidebar">
            @Html.Partial("_sideNav", Model.UserProfile)
        </div>
        <div class="col-md-11 col-md-offset-1 col-lg-9 col-lg-offset-2 hidden-xs hidden-sm manager main">
            <h2>My Races</h2>
            <p class="profile-text">Welcome to the MyRaces portal. Here you can manage all of your races and share with the WTC community your performance. Be sure to add your Meet Highlights as well by selecting the race from your list below!</p>

            <p>@Html.ActionLink("Manage", "Index", "UserRaces") your races.</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Race</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Highlights</th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        foreach (var race in Model.MyRaces)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink(race.Name, "EditRace", "UserRaces", new { id = race.RaceId }, null)
                        </td>
                        <td>@race.Date.ToString("D")</td>
                        <td>
                            @race.Location
                        </td>
                        <td style="max-width:125px; overflow-x:auto">
                            @race.HighLights
                        </td>
                        <td>
                            @Html.ActionLink("Remove", "Remove", "UserRaces", new { id = race.RaceId }, null)
                        </td>

                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @*<div class="hidden-xs hidden-lg col-sm-1 sidebar">
            @Html.Partial("_SmallSideViewPartial")
        </div>*@
        <div class="hidden-xs hidden-md hidden-lg row">
            <div class="col-sm-11 col-sm-offset-1 manager_sm main">
                <h2>My Races</h2>
                <p class="profile-text">Welcome to the MyRaces portal. Here you can manage all of your races and share with the WTC community your performance. Be sure to add your Meet Highlights as well by selecting the race from your list below!</p>

                <p>@Html.ActionLink("Manage", "Index", "UserRaces") your races.</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Race</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Highlights</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                        foreach (var race in Model.MyRaces)
                        {
                        <tr>
                            <td>
                                @Html.ActionLink(race.Name, "EditRace", "UserRaces", new { id = race.RaceId }, null)
                            </td>
                            <td>@race.Date.ToString("D")</td>
                            <td>
                                @race.Location
                            </td>
                            <td style="max-width:125px; overflow-x:auto">
                                @race.HighLights
                            </td>
                            <td>
                                @Html.ActionLink("Remove", "Remove", "UserRaces", new { id = race.RaceId }, null)
                            </td>

                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hidden-sm hidden-md hidden-lg row">
            <div class="col-xs-10 col-xs-offset-1 manager_sm main">
                <h2>My Races</h2>
                <h4>Welcome to the MyRaces portal. Here you can manage all of your races and share with the WTC community your performance.</h4>

                <p>@Html.ActionLink("Manage", "Index", "UserRaces") your races.</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Race</th>
                            <th class="hidden-xs">Date</th>
                            <th class="hidden-xs">Location</th>
                            <th>Highlights</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (var race in Model.MyRaces)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(race.Name, "EditRace", "UserRaces", new { id = race.RaceId }, null)
                                    </td>
                                    <td class="hidden-xs">@race.Date.ToString("D")</td>
                                    <td class="hidden-xs">
                                        @race.Location
                                    </td>
                                    <td style="max-width:125px; overflow-x:auto">
                                        @race.HighLights
                                    </td>
                                    <td>
                                        @Html.ActionLink("Remove", "Remove", "UserRaces", new { id = race.RaceId }, null)
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>


