@model WisconsinTrackClubWebsite.Models.ViewModels.RaceRegistrationViewModel
@{
    ViewBag.Title = "RaceRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("raceRegistration", "Home", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs hidden-sm hidden-md col-lg-2 sidebar">
                @Html.Partial("_sideNav", Model.Profile)
            </div>
            <div class="col-md-11 col-md-offset-1 col-lg-9 col-lg-offset-2 hidden-xs hidden-sm manager main">
                <h2>Race Registration</h2>
                <h4>Register for your WTC Races here</h4>

                <div class="row">
                    <div class="col-xs-10 col-md-4">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>My Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Name:</th>
                                    <td>@Model.Profile.FirstName @Model.Profile.LastName</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>@Model.Profile.Email</td>
                                </tr>
                                <tr>
                                    <th>Phone Number:</th>
                                    <td>@Model.Profile.PhoneNumber</td>
                                </tr>

                            </tbody>
                        </table>
                        <p>Is this information off a bit? @Html.ActionLink("Make some changes", "Edit", "Profiles", new { approved = true }, null)</p>
                       
                        <div class="alert alert-danger" role="alert"><p><strong>Important! </strong>Following the closure of race registration, should you be unable to attend the event you shall be required to pay all fees incurred in full barring any extreme circumstances.</p></div>
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                            @foreach (var race in Model.Races)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@race.Id" aria-expanded="true" aria-controls="collapseOne">
                                                @race.RaceName -- <small>@race.Location</small>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="@race.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <h4>@race.RaceName is on @race.Date.ToString("D")</h4>

                                            <hr />
                                            @{
                                bool registrationToggle = false;

                                if (Model.Runners.Count != 0)
                                {


                                    <h4>Who's Running:</h4>

                                                <p>
                                                    @*@foreach(var key in Model.raceRegistrationsCollection)
                                                    {
                                                        if (key.Equals(race.RaceName))
                                                        {
                                                            foreach(var item in Model.raceRegistrationsCollection[race.RaceName])
                                                            {
                                                                @item.RegisteredPerson.FirstName<span> </span>@item.RegisteredPerson.LastName<span>, </span>
                                                                registrationToggle = true;
                                                            }
                                                        }
                                                    }*@

                                                    @foreach (var rr in Model.Runners)
                                                    {
                                                        if (rr.RegisteredRace.Id == race.Id)
                                                        {
                                                            @rr.RegisteredPerson.FirstName<span> </span>@rr.RegisteredPerson.LastName<span>   </span>
                                                            if (rr.RegisteredPerson.Email == User.Identity.Name)
                                                            {
                                                                registrationToggle = true;
                                                            }
                                                        }
                                                    }
                                                </p>
                                }
                                else
                                {
                                    <h4>Be the First to Register for this event!</h4>
                                }
                                <hr />

                                                <p>
                                                    <strong>Registration/Cancellation deadline: @race.RegistrationDeadline</strong> --
                                                @if (race.RegistrationDeadline.Date >= System.DateTime.Now.AddDays(-1))
                                                {
                                                    if (registrationToggle)
                                                    {
                                                        @Html.Partial("_Cancellation", race)
                                                    }
                                                    else
                                                    {
                                                        @Html.Partial("_Registration", race)
                                                    }
                                                }
                                                else
                                                {
                                                    <p><strong>CLOSED</strong></p>
                                                }
                                                    
                                                </p>
                                            }




                                        </div>

                                    </div>
                                </div>
                                <br />


                            }
                        </div>


                    </div>

                </div>
            </div>
            <!--Sm-->
            <div class="hidden-xs hidden-md hidden-lg row">
                <div class="col-sm-11 col-sm-offset-1 manager_sm main">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Race Registration</h2>
                            <h4>Register for your WTC Races here</h4>
                            <p>Youre in small</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>My Info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Name:</th>
                                        <td>@Model.Profile.FirstName @Model.Profile.LastName</td>
                                    </tr>
                                    <tr>
                                        <th>Email:</th>
                                        <td>@Model.Profile.Email</td>
                                    </tr>
                                    <tr>
                                        <th>Phone Number:</th>
                                        <td>@Model.Profile.PhoneNumber</td>
                                    </tr>

                                </tbody>
                            </table>
                            <p>Is this information off a bit? @Html.ActionLink("Make some changes", "Edit", "Profiles", new { approved = true }, null)</p>
                            <div class="alert alert-danger" role="alert"><p><strong>Important! </strong>Following the closure of race registration, should you be unable to attend the event you shall be required to pay all fees incurred in full barring any extreme circumstances.</p></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                                @foreach (var race in Model.Races)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#@race.RaceName.Trim( new Char[] {' '})" aria-expanded="true" aria-controls="collapseOne">
                                                    @race.RaceName -- <small>@race.Location</small>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@race.RaceName.Trim( new Char[] {' '})" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <h4>@race.RaceName is on @race.Date.ToString("D")</h4>

                                                <hr />
                                                @{
                                    bool registrationToggle = false;

                                    if (Model.Runners.Count != 0)
                                    {


                                        <h4>Who's Running:</h4>

                                                    <p>
                                                        @foreach (var rr in Model.Runners)
                                                        {
                                                            if (rr.RegisteredRace.Id == race.Id)
                                                            {
                                                                @rr.RegisteredPerson.FirstName<span> </span>@rr.RegisteredPerson.LastName<span>   </span>
                                                                if (rr.RegisteredPerson.Email == User.Identity.Name)
                                                                {
                                                                    registrationToggle = true;
                                                                }
                                                            }
                                                        }
                                                    </p>
                                    }
                                    else
                                    {
                                        <h4>Be the First to Register for this event!</h4>
                                    }
                                    <hr />

                                                    <p>
                                                        <strong>Registration/Cancellation deadline: @race.RegistrationDeadline</strong> --
                                                        @if (race.RegistrationDeadline.Date > System.DateTime.Now)
                                                        {
                                                            if (registrationToggle)
                                                            {
                                                                @Html.Partial("_Cancellation", race)
                                                            }
                                                            else
                                                            {
                                                                @Html.Partial("_Registration", race)
                                                            }
                                                        }
                                                        else
                                                        {
                                                        <p><strong>CLOSED</strong></p>
                                                        }

                                                        </p>
                                                }




                                            </div>

                                        </div>
                                    </div>
                                    <br />

                                }
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg row">
                <div class="col-xs-10 col-xs-offset-1 manager_sm main">
                    <h2>Race Registration</h2>
                    <h4>Register for your WTC Races here</h4>

                    <div class="row">
                        <div class="col-xs-10 col-md-4">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>My Info</th>
                                        <td></td>
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Name:</th>
                                        <td>@Model.Profile.FirstName @Model.Profile.LastName</td>
                                    </tr>
                                    <tr>
                                        <th>Email:</th>
                                        <td><p><small>@Model.Profile.Email</small></p></td>
                                    </tr>
                                    <tr>
                                        <th>Phone Number:</th>
                                        <td><p><small>@Model.Profile.PhoneNumber</small></p></td>
                                    </tr>

                                </tbody>
                            </table>
                            <p>Is this information off a bit? @Html.ActionLink("Make some changes", "Edit", "Profiles", new { approved = true }, null)</p>
                            <div class="alert alert-danger" role="alert"><p><strong>Important!</strong> Following the closure of race registration, should you be unable to attend the event you shall be required to pay all fees incurred in full barring any extreme circumstances.</p></div>
                        </div>
                        <div class="col-xs-10 col-md-8">
                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                @foreach (var race in Model.Races)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#@race.Date.DayOfYear.ToString()" aria-expanded="true" aria-controls="collapseOne">
                                                    @race.RaceName -- <small>@race.Location</small>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@race.Date.DayOfYear.ToString()" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <h6><strong>@race.RaceName</strong> is on @race.Date.ToString("D")</h6>

                                                <hr />
                                                @{
                                    bool registrationToggle = false;

                                    if (Model.Runners.Count != 0)
                                    {


                                        <h6>Who's Running:</h6>

                                                    <p>
                                                        @foreach (var rr in Model.Runners)
                                                        {
                                                            if (rr.RegisteredRace.Id == race.Id)
                                                            {
                                                                @rr.RegisteredPerson.FirstName<span> </span>@rr.RegisteredPerson.LastName<span>   </span>
                                                                if (rr.RegisteredPerson.Email == User.Identity.Name)
                                                                {
                                                                    registrationToggle = true;
                                                                }
                                                            }
                                                        }
                                                    </p>
                                    }
                                    else
                                    {
                                        <h6>Be the First to Register for this event!</h6>
                                    }
                                    <hr />

                                                    
                                                        if (race.RegistrationDeadline.Date > System.DateTime.Now)
                                                        {
                                                            if (registrationToggle)
                                                            {
                                                                @Html.Partial("_Cancellation", race)
                                                            }
                                                            else
                                                            {
                                                                @Html.Partial("_Registration", race)
                                                            }
                                                        }
                                                        else
                                                        {
                                                        <p><strong>CLOSED</strong></p>
                                                        }

                                                        
                                                }




                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                }
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts{
    <script>
        $('.collapse').collapse()
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
        function cancelAlert() {
            alert("You are cancelling this race entry.")
        }
    </script>
}

