
<ul class="nav nav-sidebar">
    <li>Manage</li>
</ul>
<ul class="nav nav-sidebar">
    <li>@Html.ActionLink("My Profile", "Manage", "Account")</li>
    <li>@Html.ActionLink("My Forms", "MyForms", "Home")</li>
    <li>@Html.ActionLink("My Races", "MyRaces", "Home")</li>
</ul>
<ul class="nav nav-sidebar">
    <li>Tools</li>
</ul>
<ul class="nav nav-sidebar">
    <li>@Html.ActionLink("Pace Calculator", "PaceCalc", "Home")</li>
    <li>@Html.ActionLink("Mile Log", "MileLog", "Home")</li>
</ul>
