
<ul class="nav nav-sidebar">
    <li>@Html.ActionLink("My Profile", "Manage", "Account", new { @class = "smallNavProfile" })</li>
    <li><span class="glyphicon glyphicon-file"></span>@Html.ActionLink("My Forms", "MyForms", "Home", new { @class = "smallNavForms" })</li>
    <li><span class="glyphicon glyphicon-"></span>@Html.ActionLink("My Races", "MyRaces", "Home", new { @class = "smallNavRaces" })</li>
</ul>
<ul class="nav nav-sidebar">
    <li>@Html.ActionLink("Pace Calculator", "PaceCalc", "Home", new { @class = "smallNavPaceCalc" })</li>
    <li>@Html.ActionLink("Mile Log", "MileLog", "Home", new { @class = "smallNavLog" })</li>
</ul>