@model IEnumerable<WisconsinTrackClubWebsite.Models.UserRace>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-xs-12 information">
        <h2>Remove Race</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.Race.RaceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Race.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Race.Date)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Race.RaceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Race.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Race.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Add", "Add", new { id = item.RaceId }) |
                        @Html.ActionLink("Remove", "Remove", new { id = item.RaceId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>



